[Unit]
Description=SVC service responder (client-mode localhost; QM-to-QM #147/#180)
After=mq-{{ qmgr_name }}.service
Requires=mq-{{ qmgr_name }}.service

[Service]
Type=simple
User=mqm
Group=mqm
Environment=LD_LIBRARY_PATH=/opt/mqm/lib64
ExecStart=/var/mqm/rvenv/bin/python /var/mqm/svc_responder.py --qm {{ qmgr_name }} --in-queue SVC.REQUEST --channel SVC.SVRCONN --conn "localhost(1414)" --keyrepo /var/mqm/ssl/svc-responder --certlabel svc-responder
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
