{
  "channel": [
    {
      "name": "{{ mq_exporter_channel }}",
      "type": "clientConnection",
      "clientConnection": {
        "connection": [
{% for c in mq_exporter_conn.split(',') %}
          {
            "host": "{{ c.split('(')[0] }}",
            "port": {{ c.split('(')[1].split(')')[0] }}
          }{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "queueManager": "{{ mq_exporter_qm }}"
      },
      "transmissionSecurity": {
        "cipherSpecification": "{{ tls_cipher }}",
        "certificateLabel": "{{ mq_exporter_certlabel }}"
      }
    }
  ]
}
