[Unit]
Description=Prometheus node_exporter
After=network-online.target
Wants=network-online.target

[Service]
User=node_exporter
Group=node_exporter
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=:9100 \
  --collector.textfile.directory=/var/lib/node_exporter/textfile \
  --collector.systemd \
  --collector.systemd.unit-include=^(named|bind9|prometheus|grafana-server|node_exporter|mq_prometheus.*|mq-.*|mqmonitor@.*)\.service$
Restart=on-failure

[Install]
WantedBy=multi-user.target
